@media screen and (min-width: 768px) {

    .gallery {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }


    .photo-card {
        width: 450px;
    }

    .info-item {
        font-size: 16px;
    }

    .photo-container {
        height: 300px;
    }

    .last-page {
        font-size: 16px;
    }


    .search-input {
        font-size: 16px;
        max-width: 300px;
    }
}

@media screen and (min-width: 635px) {

    .gallery {
        justify-content: center;
    }

    .btns-helpers {
        justify-content: start;
    }

}



@media screen and (min-width: 631px) and (max-width: 767px) {

    .photo-container {
        height: 200px;
    }
}